@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default theme */

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240, 6%, 10%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 16.92 100% 50%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 240, 4%, 46%;

    --accent: 16.92 100% 50%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  :root {
    --header-height: 65px;
    --text-gradient: linear-gradient(180deg, #555, #000);
  }

  .dark {
    --text-gradient: linear-gradient(180deg, #fff, #adadad);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply antialiased;
  }
}

@layer utilities {
  .gradient-text {
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .header-gradient {
    background: (rgba(0, 0, 0, 0.77) 0%, rgba(0, 0, 0, 0) 100%);
  }
}
